@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans Arabic', sans-serif;
}


.App {
  text-align: center;
  width: 90%;
  margin: 0 auto;

}

.register {
  background-color: #5B5BFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
}

.register p {
  padding: 0 30px;
  font-size: 13px;
  color: white;
}

.register-button {
  width: 25%;
  background-color: #5342B5;
  border: none;
  padding: 5px 15px;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.legend hr {
  width: 100%;
}

.legend div {
  width: 30%;
  color: blue;
  font-size: 18px;
  font-weight: bold;
  margin: 0 2px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

@media screen and (max-width : 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width : 1000px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width : 900px) {
  .header {
    grid-template-columns: 1fr;
  }
}

.logo {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.logo img {
  width: 100px;
}